@using System.IO;
@using Newtonsoft.Json;


<select id="@id" class="form-control" @onchange="Aggiornamento">

    <option value=0>@descrizione</option>

    @foreach (Automobile singola in tutte)
    {
        @if (singola.Id == selezionato)
        {
            <option value="@singola.Id" selected>@singola.Targa - @singola.Modello </option>
        }
        else
        {
            <option value="@singola.Id">@singola.Targa - @singola.Modello</option>
        }
    }
</select>
@code {

    public List<Automobile> tutte = Inizializza();

    [Parameter]
    public string id { get; set; }

    [Parameter]
    public int selezionato { get; set; }

    [Parameter]
    public string descrizione { get; set; }


    // Gestione bind di valore
    // Creiamo un parametro collegabile
    [Parameter]
    public int idAutomobile { get; set; }

    // Creiamo un EventCallback che il sistema collegherà al bind-Value
    [Parameter]
    public EventCallback<int> idAutomobileChanged { get; set; }

    // Che verrà lanciata dall'esecuzione di una nostra funzione server
    // private async Task AggiornaIdAuto(ChangeEventArgs e)

    [Parameter]
    public static string lut { get; set; } = "automobili";

    static public List<Automobile> Inizializza()
    {
        if (File.Exists(lut + ".json"))
        {
            // leggere il file
            string contenuto = File.ReadAllText(lut + ".json");

            // decodificarlo da json
            List<Automobile> buffer = JsonConvert.DeserializeObject<List<Automobile>>(contenuto);

            // restituire la nuova struttura
            return buffer;
        }

        return new List<Automobile>();

    }

    public async Task Aggiornamento(ChangeEventArgs evento)
    {
        int nuovoValore = int.Parse(evento.Value.ToString());
        await idAutomobileChanged.InvokeAsync(nuovoValore);
    }

}

